= link_to "TrackAdvisor", root_path

= link_to "Users", "#users"

- unless logged_in?
  = link_to "Login with Facebook", auth_provider_path(:facebook)
  = link_to "Login with Twitter", auth_provider_path(:twitter)
- else
  = link_to "Edit", edit_user_path(current_user)
  = link_to "Log Out", logout_path, :data => { :confirm => "Are you sure?", :method => :delete }